@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  font-family: "Karla", "Segoe UI", sans-serif;
  font-weight: 400;
  color: #222;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  background-color: #fff;
}

#root {
  min-height: 100vh;
}
